@import '../../../../assets/styles/vars/colors.scss';
@import '../../../../assets/styles/mixins/breakpoints';
.search {
    display: flex;
    background: $yellow;
    width: 100%;
    height: 3rem;
    justify-content: center;
    align-items: center;
    &__input {
        width: 13.875rem;
        @include media-breakpoint-up(md) {
            width: 30.875rem;
        }
        @include media-breakpoint-up(lg) {
            width: 50.875rem;
        }
    }
    &__button {
        background-color: $gray-three;
        height: 1.81rem;
        width: 1.875rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__img {
        margin-right: 0.5rem;
    }
}