<div class="content-item-detail">
    <div class="item-detail">
        <img width="680" class="item-list__content_img" src="https://http2.mlstatic.com/D_634147-MLA46042090524_052021-I.jpg" alt="Cerrar sesión" />
        <div class="item-detail__text">
            <p class="item-detail__text_description">Nuevo- 234 vendidos</p>
            <p class="item-detail__text_name">
                Deco Reverse Sombrero Oxford
            </p>
            <span class="item-detail__text_price">$ 1.980</span>
            <div class="item-detail__button">Comprar</div>
        </div>
    </div>
    <div class="item-detail__description">
        <h2 class="item-detail__description_title">Descripción del producto</h2>
        <p class="item-detail__description_text">
            Información importante: Por favor confirmar tallas y colores disponibles Modelo mejorado con Grupo Shimano Altus de 9 vel (27 cambios), set completo con Frenos Hidráulicos, Pacha, Tensor, Desviador, Cadenilla, etc... todo Shimano de la misma gama. Marco
            en Aluminio Alpha Silver con tubo de dirección semi integrado, tubos cónicos hidro formados, recorrido interno de los cables del desviador y puntera de cambio desmontable.
        </p>
    </div>
</div>