<div *ngIf="!!item" class="content-item-detail">
    <div class="item-detail">
        <img width="680" class="item-list__content_img" [src]="item.picture" alt="producto" />
        <div class="item-detail__text">
            <p class="item-detail__text_description">
                {{ (item.condition === 'new' ? 'Nuevo' : 'Usado') }} - {{ item.sold_quantity }} vendidos
            </p>
            <p class="item-detail__text_name">
                {{item.title}}
            </p>
            <span class="item-detail__text_price">{{item.price.currency}}
        {{item.price.amount}}.{{item.price.decimals}}</span
      >
      <div class="item-detail__button">Comprar</div>
    </div>
  </div>
  <div class="item-detail__description">
    <h2 class="item-detail__description_title">Descripción del producto</h2>
    <p class="item-detail__description_text">
      {{item.description}}
    </p>
  </div>
</div>