@import '../../../../assets/styles/vars/colors.scss';
@import '../../../../assets/styles/mixins/breakpoints';
.breadcrumd {
    display: flex;
    padding: 1rem 0;
    margin: auto;
    &__content {
        color: $gray-two;
        width: 10rem;
        &_text {
            font-size: 0.875rem;
        }
    }
    @include media-breakpoint-up(lg) {
        width: 67%;
    }
}