@import '../../../../assets/styles/vars/colors.scss';
@import '../../../../assets/styles/mixins/breakpoints';
.content {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: $gray-two;
    &__text {
        text-align: center;
    }
}