<div class="body-list">
    <div class="item-list">
        <div class="item-list__content">
            <img width="180" height="180" class="item-list__content_img" src="https://http2.mlstatic.com/D_634147-MLA46042090524_052021-I.jpg" alt="Cerrar sesión" />
            <div class="item-list__text">
                <span class="item-list__text_price">$ 1.980</span>
                <img src="../../../assets/images/ic_shipping.png" alt="Cerrar sesión" />
                <p class="item-list__text_name">
                    Apple touche 5 g 16 g negro igual a nuevo
                </p>
                <p>Completo unico!</p>
            </div>
        </div>
        <div class="item-list__origin">
            <p>Capital Federal</p>
        </div>
    </div>
</div>