<div class="body-list">
    <div *ngIf="!!item" class="item-list">
        <div class="item-list__content">
            <img width="180" height="180" class="item-list__content_img" [src]="item.picture" alt="Cerrar sesión" />
            <div class="item-list__text">
                <span class="item-list__text_price">{{item.price.currency}}
          {{item.price.amount}}.{{item.price.decimals}}</span
        >
        <img
          *ngIf="item.free_shipping"
          src="../../../assets/images/ic_shipping.png"
          alt="envio"
        />
        <p class="item-list__text_name">
          {{item.title}}
        </p>
        <p>Completo unico!</p>
      </div>
    </div>
    <div class="item-list__origin">
      <p *ngIf="!!item.location">
        {{ item.location.city }} {{ item.location.state }}
      </p>
    </div>
  </div>
</div>